/* For debugging only! */
/*
#slideshow, #slideshow-slide-title-list, #current-slide-content, #slideshow-bottom-bar {
	border-style: solid;
}
*/

#slideshow {
	border: 1px solid gray;
}

#slideshow-slide-title-list, #slideshow-bottom-bar {
	background: gray;
}

#slideshow-slide-title-list {
	padding: 1%;
}

.slide-title {
	margin: 1%;
	font-size: 1em;
}

#slideshow-bottom-bar {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#slideshow-controls, #slideshow-pager {
	width: 33%;
}

#slideshow-controls {
	float: left;
}

#slideshow-pager {
	float: left;
}

.settings-icon {
	height: 2%;
}

/* Generic hover-icon class */

.hover-icon {
	opacity: 0.25;
}

.hover-icon:hover {
	opacity: 1;
}


/* Make the H2 plugin title be displayed as inline-block in order to
 * allow having the settings icon be next to it on its right side */

.plugin-title {
	display: inline-block;
}

.plugin-settings, .slideshow-config, .slideshow-about {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.plugin-settings-content, .slideshow-config-content, .slideshow-about-content {
	background-color: #D8D8D8;
	margin: 5% auto;
	padding: 2.5%;
	border: 1px solid #888;
	width: 80%;
}

/* Slideshow Backend Settings Dialog */

/* DEBUG only */
/*
#slideshow-backends-dialog-top-bar {
	border: 1px solid orange;
}
*/

/*
 * Backends Search
 */

#slideshow-backends-search-section {
	display: inline-block;
	width: 25%;
}

/* DEBUG only */
/*
#slideshow-backends-search-section {
	border: 1px solid blue;
}
*/

/*
 * Slideshow Configuration
 */

#slideshow-slide-list {
	overflow-y: scroll;
	width: 25%;
	background-color: white;
}

/* DEBUG only */
#slideshow-slide-list {
	border: 1px solid red;
}

.slideshow-slide-list-entry {
	padding: 5%;
}

/* DEBUG only */
.slideshow-slide-list-entry {
	border: 1px solid green;
}


/*
 * Backends Availble
 */

#slideshow-backends-available-section {
	display: inline-block;
	width: 74%;
}

/* DEBUG only */
/*
#slideshow-backends-available-section {
	border: 1px solid green;
}
*/

/* Select for available backend plugins */

#slideshow-backends-available {
	width: 75%;
}

/* DEBUG only */
#slideshow-backends-available {
	border: 1px solid purple;
}

#slideshow-backends-configured {
	overflow-y: scroll;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	width: 25%;
	height: 50%;
}

/* DEBUG only */
#slideshow-backends-configured {
	border: 1px solid red;
}

.slideshow-backends-configured-list-entry {
	display: flex;
	align-items: center;
	border: 1px solid black;
	padding: 5%;
}

.slideshow-backend-config-dialog {
	display: inline-block;
	width: 70%;
}

/* DEBUG only */
.slideshow-backend-config-dialog {
	border: 1px solid blue;
}

.close, .save {
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.add {
	font-size: 2em;
	font-weight: bold;
}

.remove {
	font-size: 2em;
	font-weight: bold;
}

#plugin-registry-plugins-available {
	overflow-y: scroll;
	height: 50%;

	background: white;
	padding: 1%;
	border: 1px solid pink;
}
